body {
    background-color: #C96868;
    font-family: "Courier New", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #2d5159;
    text-decoration: none;
}

h1 {
    font-family: Elephant, sans-serif;
    color: #578a95;
    text-align: center;
}

h2 {
    font-family: Elephant, sans-serif;
    color: #FADFA1;
    text-align: center;
}

h3 {
    font-family: "Courier New", sans-serif;
    color: #FADFA1;
    text-align: center;
}

.button {
    background-color: #99c3cc;
    border: none;
    color: #2d5159;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Courier New", sans-serif;
    margin: 20px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.game-board-minus {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.result-container-minus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question-minus {
    display: block;
    border: 2px solid white;
    color: white;
    background-color: #038956;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
}

.play-again-button{
    background-color: #038956;
    border: none;
    color: #2d5159;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    border-radius: 5px;
    font-family: "Courier New", sans-serif;
    margin: 20px;
    width: 300px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.description {
    font-size: 50px;
    color: black;
}

.answer-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.answer-minus {
    border: 2px solid white;
    color: white;
    background-color: #04AA6D;
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 130px;
    height: 100px;
    cursor: pointer;
}

.subtraction-result{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    color: black;
}

.button:hover {
    box-shadow: 0 0 0 0;
}

.div-h1 {
    background-color: #FADFA1;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    max-width: 300px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.div-h2 {
    background-color: #a54b4b;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    max-height: 100px;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}

#container {
    width: 900px;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: #C96868;
    margin: auto;
}

.div-ooe-container {
    background-color: #C96868;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}

.random-number-box {
    min-width: 100px;
    width: fit-content;
    height: 100px;
    background-color: #FADFA1;
    font-size: 90px;
    margin: auto;
    border: 10px solid #2d5159;
    padding: 10px;
    color: #2d5159;
}

.guess-button,
.choice-button,
.play-button {
    background-color: #FADFA1;
    border: 0;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    margin: 0 10px 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    color: #2d5159;
    font-family: "Courier New", sans-serif;
}

.choice-button:hover {
    box-shadow: 0 0 0 0;
}

/*  Addition Game Styles    */

.window {
    min-height: 60vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-container {
    min-height: 60vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.question {
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: fit-content;
}

.choice-title {
    font-size: 30px;
    color: #2d5159;
}

.answer {
    color: white;
    background-color: #99c3cc;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.btn-success {
    border: 2px solid #41ff00;
    background-color: rgba(65, 255, 0, 0.5);
}

.btn-fail {
    border: 2px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.5);
}

.next-button {
    width: 200px;
    height: 50px;
}

.addition-number-input {
    background-color: #f6acac;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}
.random-number{
    text-align: center;
}

.center{
    text-align: center;
}