body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.gameboard-minus{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.question-minus{
    display: block;
    border: 2px solid white;
    color: white;
    background-color: #04AA6D;
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: fit-content;
}

.description{
    font-size: 50px;
    color: black;
}

.answer-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.answer-minus{
    border: 2px solid white;
    color: white;
    background-color: #04AA6D;
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
}