<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
<div class="div-h1">
    <a th:href="@{/}"><h1>GameCenter</h1></a>
</div>
<div class="div-h2">
    <h2>Game: <br>Higher and Lower</h2>
</div>
<div class="center" th:if = "${startGame} == false">
    <h3>Higher and Lower!</h3>
    <p>A number is hiding under the questionmark, type what you think the number is.</p>
    <p>You will then be told wether it's higher or lower</p>
    <br><br>
    <a th:href="@{/startTheGame}" class="startGame">Start game</a>
</div>
<div class="center"  id="gameBox" th:if = "${startGame} == true">
    <div class="randomNumber">
        <h3>?</h3>
        <h4>Skriv din gissning nedan</h4>
        <form th:action="@{/makeGuess}" method="post">
            <textarea name="guess" required></textarea>
            <br>
            <p th:if="${resultat} == true">fel!</p>
            <p th:if="${resultat} == false">rätt!</p>
            <button type="submit" class="guessButton">Guess!</button>
        </form>
    </div>
</div>
</body>
</html>