<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
<h1>Welcome to the GameCenter!</h1>
<div class="center">
<h2>Choose your game:</h2>
    <a th:href="@{/}" class="button">Udda eller Jämnt</a>
    <a th:href="@{/}" class="button">Högre eller Lägre</a>
    <a th:href="@{/}" class="button">Plustränaren</a>
    <a th:href="@{/}" class="button">Minustränaren</a>
</div>
</body>
</html>