<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>

<h1>Welcome to the GameCenter!</h1>
<div class="center">
<h2>Choose your game:</h2>
    <a th:href="@{/oddOrEven}" class="button">Odd or Even</a>
    <a th:href="@{/addition}" class="button">Addition game</a>
    <a th:href="@{/higherlowergame}" class="button">Higher and Lower</a>
    <a th:href="@{/minus}" class="button">Subtraction game</a>
  
</div>
</body>
</html>