<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minustranaren</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="div-h1">
    <a th:href="@{/}"><h1>GameCenter</h1></a>
</div>
<div class="div-h2">
    <h2>Game: <br>Subtraction game</h2>
</div>
<div class="gameBoard-minus">
    <p class="question-minus">Vad blir 20-10 ?</p>
    <p class="description">Välj ett av följande alternativ</p>

    <div class="answer-container">
    <p class="answer-minus">30</p>
    <p class="answer-minus">5</p>
    <p class="answer-minus">10</p>
    </div>
    <p class="question-minus">Du är på 1/5</p>
</div>

<div class="login-container">
    <th:block th:if="${counter} == 5">
        <div class="result-container">
            <p class="result">Du fick 5 rätt av 5</p>
        </div>
    </th:block>
</div>
</body>
</html>