<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Odd or Even</title>
</head>
<body>
<div class="div-h1">
    <a th:href="@{/}"><h1>GameCenter</h1></a>
</div>
<div class="div-h2">
    <h2>Game: <br>Odd or Even</h2>
</div>
<div class="div-ooe-container">
    <div class="game-over-box">
        <h2>Game Over!</h2>
    </div>
        <h3>You got <strong th:text="${correctChoices}"></strong> right out of <strong>5</strong>!</h3>
    <button type="submit" class="play-button" name="play"><a th:href="@{/oddOrEven}">Play again</a></button>
</div>
</body>
</html>